import(Matrix)
import(lme4)
import(fields)
import(parallel)
import(mgcv)
import(LCFdata)

importFrom("grDevices", "cm.colors", "colorRampPalette", "dev.new",
           "dev.off", "gray", "heat.colors", "jpeg", "terrain.colors",
           "topo.colors", "trans3d")
importFrom("graphics", "abline", "box", "contour", "lines", "mtext",
           "par", "persp", "plot", "points", "text")
importFrom("methods", "is")
importFrom("stats", "AIC", "BIC", "anova", "density", "median",
           "na.omit", "pf", "plogis", "pt", "qqline", "qqnorm", "qt",
           "quantile", "relevel", "resid", "rnorm", "sd")

export(bfFixefLMER_F.fnc)
export(bfFixefLMER_t.fnc)
export(cd)
export(cdf)
export(cdup)
export(cn)
export(f)
export(ffRanefLMER.fnc)
export(fitLMER.fnc)
export(mcp.fnc)
export(mcposthoc.fnc)
export(pamer.fnc)
export(perSubjectTrim.fnc)
export(plotDensity3d.fnc)
export(plotLMER.fnc)
export(plotLMER3d.fnc)
export(plotRaw3d.fnc)
export(relLik)
export(romr.fnc)
S3method(summary,mcposthoc)
