import(Matrix)
import(lme4)
import(fields)
import(rgl)
import(parallel)
import(mgcv)
import(LCFdata)

export(bfFixefLMER_F.fnc)
export(bfFixefLMER_t.fnc)
export(cd)
export(cdf)
export(cdup)
export(cn)
export(f)
export(ffRanefLMER.fnc)
export(fitLMER.fnc)
export(mcp.fnc)
export(mcposthoc.fnc)
export(pamer.fnc)
export(perSubjectTrim.fnc)
export(plotDensity3d.fnc)
export(plotLMER.fnc)
export(plotLMER3d.fnc)
export(plotRaw3d.fnc)
export(relLik)
export(romr.fnc)
S3method(summary,mcposthoc)
